@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");

* {
    margin: 0;
    padding: 0;
    outline: 0
}

body {
    color: #b1afaf;
    font-family: 'Lato', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1;
    font-weight: 400;
    background: #111
}

img {
    border: 0;
    outline: 0;
    max-width: 100%
}

article, aside, footer, header, nav, section {
    display: block
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

    a:active, a:hover {
        outline-width: 0
    }

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

img {
    border: 0
}

.main {
    position: relative;
    background: #fff
}

html, body {
    height: 100%
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box
}

ul {
    padding: 0;
    margin: 0;
    outline: none
}

li {
    list-style: none
}

a, input, button, select, .transition, .form-field--border, .checkbox-label:before, textarea .transition, textarea .form-field--border, textarea .checkbox-label:before {
    text-decoration: none;
    transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    outline: none;
    font-family: 'Lato', sans-serif
}

.clearfix {
    clear: both
}

.fl {
    float: left
}

.fr {
    float: right
}

.container {
    max-width: 1190px;
    margin: 0 auto;
    clear: both;
    padding: 0 10px
}

.clearfix::after {
    content: '';
    height: 0;
    overflow: hidden
}

.clearfix::before {
    content: '';
    height: 0;
    overflow: hidden
}

.flexrow, .mid, .header__right ul {
    display: flex
}

.items-center, .mid, .header__right ul {
    align-items: center
}

.justify-center, .mid {
    justify-content: center
}

.center {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    left: 0;
    top: 0
}

.sr-only {
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.caretdown {
    float: right;
    vertical-align: middle;
    font-size: 10px;
    margin-top: 3px;
    margin-left: 6px
}

.header__container {
    height: 60px;
    justify-content: space-between
}

.header {
    background: #2d2d2d none repeat scroll 0 0;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    height: 60px
}

.navbar-brand {
    color: #d4d4d4;
    text-align: left
}

.header__mid {
    padding: 0 20px;
    width: 500px
}

.header__right--text {
    font-size: 14px;
    color: #2d2d2d;
    text-transform: capitalize
}

i.header__right--icon {
    font-size: 22px;
    color: #2d2d2d;
    margin-right: 0;
    margin-bottom: 10px
}

li.header__right--item {
    display: flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
    height: 64px;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border-radius: 5px;
    padding: 0 10px
}

    li.header__right--item:hover {
        background-color: rgba(0,0,0,0.1);
        border-radius: 3px
    }

.header__right--item.active {
    background-color: rgba(0,0,0,0.1);
    border-radius: 3px
}

.truncate--login {
    max-width: 72px
}

.header__list--with-dropdown {
    position: relative
}

.header__dropdown--flex {
    display: flex
}

.header__dropdown--column {
    width: 220px;
    padding: 16px 0 8px
}

.header__list--with-dropdown {
    position: relative
}

.header__dropdown--hr {
    border-top: 1px solid #ddd;
    height: 1px;
    width: 100%;
    display: block;
    margin: 8px 0
}

span.creaditcolor {
    color: #2d2d2d;
    font-weight: 600
}

.header__badges {
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 0;
    position: absolute;
    right: 23%;
    text-align: center;
    top: -2px;
    width: 30px
}

.redcolor {
    background: #bb0505
}

.skyblue {
    background: #00bbff
}

.mainnav {
    background: #2d2d2d none repeat scroll 0 0;
    position: fixed;
    z-index: 10;
    width: 320px;
    right: -400px;
    overflow: auto;
    top: 0;
    bottom: 0;
    z-index: 200
}

    .mainnav.active {
        right: 0
    }

.mainnav__link {
    align-items: center;
    display: flex;
    padding: 13px 30px;
    position: relative;
    cursor: pointer;
    height: 42px;
    text-transform: capitalize;
    color: #d4d4d4;
    margin-bottom: 10px
}

    .mainnav__link:after {
        content: "\eae4";
        position: absolute;
        right: 30px;
        top: 14px;
        font-family: 'df' !important;
        transform: all .4s;
        -moz-transform: all .4s;
        -webkit-transform: all .4s
    }

    .mainnav__link:hover {
        background: #211c1c
    }

    .mainnav__link.active {
        background: #211c1c;
        color: #fff
    }

        .mainnav__link.active:after {
            transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -webkit-transform: rotate(180deg)
        }

.mainnav__text {
    display: block;
    line-height: 0;
    padding-bottom: 2px
}

.mainnav__icon {
    font-size: 18px;
    margin-right: 7px
}

.topsection {
    position: relative
}

.mainnav-row {
    padding-top: 10px
}

.subnav {
    background: #f5f5f5;
    position: relative
}

.subnav__list {
    margin-right: 10px;
    padding: 10px 0
}

.subnav__link {
    color: #d4d4d4;
    display: block;
    font-size: 14px
}

    .subnav__link:hover {
        color: #fff
    }

    .subnav__link.active {
        color: #fff
    }

.subnav__boxcon {
    padding: 0 0px 20px 56px;
    margin-bottom: 15px;
    border-bottom: 1px solid #4c4c4c
}

.toggle {
    height: 36px;
    width: 28px;
    display: block
}

    .toggle i {
        background: none repeat scroll 0 0 #fff;
        border-radius: 5px;
        display: block;
        float: right;
        height: 2px;
        margin: 1.5px 0;
        width: 100%
    }

        .toggle i.one {
            width: 24px
        }

        .toggle i.two {
            width: 16px
        }

        .toggle i.three {
            width: 24x
        }

    .toggle > span {
        color: #fff;
        font-size: 10px
    }

header.hdfxd {
    top: 0 !important
}

.menuHeader {
    height: 61px;
    padding: 0 30px;
    border-bottom: 1px solid #211c1c;
    color: #d4d4d4;
    text-align: right;
    display: flex;
    justify-content: end;
    align-items: center
}

a.closeMenu {
    text-align: right;
    color: #d4d4d4;
    display: block
}

    a.closeMenu:hover {
        text-decoration: underline
    }

.bodyhidden {
    overflow: hidden
}

.login {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background: #000;
    background: url(../img/bannar1.jpg) no-repeat center bottom;
    background-attachment: fixed;
    background-size: cover;
    text-align: center
}

.loginbg {
    background: rgba(0,0,0,0.8) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%
}

.login-header {
    height: auto;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    z-index: 10
}

.backtohome {
    border: 2px solid #fff;
    border-radius: 25px;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px
}

    .backtohome:hover {
        background: #fff;
        color: #00bbff
    }

.card {
    display: inline-block;
    width: 100%;
    position: relative;
    border-radius: 6px;
    margin-bottom: 30px;
    color: rgba(0,0,0,0.87);
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12)
}

.loginpopup {
    height: auto;
    left: 0;
    margin: auto;
    max-width: 360px;
    position: absolute;
    right: 0;
    top: 103px;
    width: 100%
}

.card--login {
    min-height: 350px
}

    .card--login .card__header {
        box-shadow: 0 16px 38px -12px rgba(0,0,0,0.56),0 4px 25px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.2);
        margin-left: 20px;
        margin-right: 20px;
        margin-top: -40px;
        text-align: center;
        color: #fff;
        border-radius: 3px;
        padding: 20px 0;
        background: #00bbff;
        background: -moz-linear-gradient(left, #0bf 1%, #4096ee 100%);
        background: -webkit-linear-gradient(left, #0bf 1%, #4096ee 100%);
        background: linear-gradient(to right, #0bf 1%, #4096ee 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bbff', endColorstr='#4096ee', GradientType=1)
    }

    .card--login .card--login__title {
        font-size: 24px;
        margin: 15px auto;
        font-weight: 400
    }

    .card--login .card--login__social {
        align-items: center;
        display: flex;
        height: 50px;
        margin: 20px auto 10px;
        justify-content: center
    }

    .card--login .card--login__social--item {
        color: rgba(249,249,249,0.71);
        display: inline-block;
        font-size: 32px;
        margin: 0 10px
    }

        .card--login .card--login__social--item.bigicon {
            font-size: 47px
        }

    .card--login .loginsubtitle {
        color: #999;
        font-size: 17px;
        font-weight: 300;
        margin-top: 24px
    }

.checkbox-label {
    position: relative;
    padding-left: 37px;
    font-size: 15px;
    font-weight: 300;
    color: #8d8d8d;
    cursor: pointer
}

    .checkbox-label:after {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        border: 1px solid #999;
        border-radius: 3px;
        left: 0
    }

.form-row {
    display: flex;
    padding: 0 30px;
    align-items: center;
    margin-top: 25px
}

.form-box {
    flex: 1;
    position: relative
}

span.form-row-addon {
    width: 18px;
    text-align: left;
    margin-right: 18px
}

.form-field {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
    font-weight: 400;
    color: #2d2d2d;
    font-weight: 300;
    padding: 12px 0
}

    .form-field :placeholder {
        color: #ccc
    }

    .form-field:focus + .form-field--border {
        width: 100%
    }

.form-row-addon {
    width: 30px;
    font-size: 18px;
    color: #544d4d
}

.form-field--border {
    position: absolute;
    width: 0;
    height: 2px;
    background: #0bb4fc;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto
}

.login-button {
    margin: 20px auto 15px
}

.createaccount {
    font-size: 15px;
    color: #999;
    font-weight: 300;
    margin-bottom: 30px
}

    .createaccount a {
        color: #00bbff
    }

        .createaccount a:hover {
            text-decoration: underline
        }

.forgetpass {
    margin: 22px 30px;
    text-align: left
}

.checkbox {
    position: absolute;
    opacity: 0
}

.checkbox-label:before {
    color: #00bbff;
    content: "\e595";
    left: 0;
    top: 3px;
    font-family: 'df';
    left: 3px;
    position: absolute;
    font-size: 13px;
    transform: scale(0);
    -webkit-transform: scale(0)
}

.checkbox:checked + .checkbox-label::before {
    transform: scale(1);
    -webkit-transform: scale(1)
}

.signuppopup {
    height: auto;
    left: 0;
    margin: auto;
    max-width: 1000px;
    position: absolute;
    z-index: 100;
    right: 0;
    top: 103px;
    width: 100%
}

    .signuppopup .card__header {
        text-align: center
    }

    .signuppopup .card--signup {
        padding: 40px 80px 20px
    }

    .signuppopup .card--signup__title {
        font-size: 30px;
        font-weight: 600;
        color: #2d2d2d;
        margin-bottom: 40px
    }

    .signuppopup .card--signup--content {
        display: flex;
        text-align: left
    }

    .signuppopup .loginsubtitle {
        color: #999;
        font-size: 18px;
        font-weight: 300
    }

    .signuppopup .leftsignup {
        flex: 1;
        margin-right: 25px
    }

    .signuppopup .rightsignup {
        flex: 1 1 0;
        margin-left: 30px
    }

.smhd {
    font-size: 20px;
    margin-left: 30px
}

.registerDiv {
    flex: 1;
    margin-left: 20px;
    min-height: 420px
}

.leftcardbody {
    flex: 1 1 0;
    margin-right: 20px;
    padding-left: 50px;
    padding-top: 20px
}

.left-row {
    margin-bottom: 60px
}

    .left-row:last-child {
        margin-bottom: 20px
    }

    .left-row p {
        color: #8f8f8f;
        font-size: 16px;
        font-weight: 300;
        line-height: 22px
    }

    .left-row .left-row-hd {
        color: #2d2d2d;
        font-size: 17px;
        font-weight: 600;
        height: 30px;
        position: relative
    }

        .left-row .left-row-hd i {
            font-size: 20px;
            left: -35px;
            position: absolute;
            top: 0
        }

.mkthd i {
    color: #c7004d
}

.codehd i {
    color: #00bbff
}

.audioncehd i {
    color: #b83cce
}

.register-tab {
    display: flex;
    justify-content: center;
    margin: 25px 30px 0;
    text-align: center
}

.register-tab__item {
    border: 1px solid #999;
    color: #888888;
    font-size: 15px;
    font-weight: 300;
    padding: 8px 0;
    text-align: center;
    width: 108px
}

    .register-tab__item.active {
        color: #fff;
        border-color: #00bbff;
        background: #00bbff
    }

    .register-tab__item:first-child {
        border-radius: 25px 0 0 25px;
        border-right: 0 none
    }

    .register-tab__item:last-child {
        border-radius: 0 25px 25px 0
    }

.checkbox-label a {
    color: #00bbff
}

    .checkbox-label a:hover {
        text-decoration: underline
    }

.ceptchabox {
    width: 100%
}

    .ceptchabox img {
        width: 100%
    }

.card--signup__social {
    justify-content: center;
    align-items: center;
    display: flex
}

.card--signup__social--item {
    align-items: center;
    border-radius: 100%;
    display: flex;
    height: 50px;
    justify-content: center;
    margin: 0 0 0 15px;
    width: 50px;
    font-size: 20px
}

    .card--signup__social--item.fb {
        background-color: #3b5998;
        color: #fff;
        box-shadow: 0 2px 2px 0 rgba(59,89,152,0.14),0 3px 1px -2px rgba(59,89,152,0.2),0 1px 5px 0 rgba(59,89,152,0.12)
    }

    .card--signup__social--item.gplus {
        background-color: #ea4c89;
        color: #fff;
        box-shadow: 0 2px 2px 0 rgba(234,76,137,0.14),0 3px 1px -2px rgba(234,76,137,0.2),0 1px 5px 0 rgba(234,76,137,0.12)
    }

    .card--signup__social--item.tw {
        background-color: #55acee;
        color: #fff;
        box-shadow: 0 2px 2px 0 rgba(85,172,238,0.14),0 3px 1px -2px rgba(85,172,238,0.2),0 1px 5px 0 rgba(85,172,238,0.12)
    }

.header__dropdown:after {
    border: 8px solid transparent;
    border-bottom-color: #ffffff;
    content: "";
    height: 0;
    -webkit-transition: 0.1s opacity cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: 0.1s opacity cubic-bezier(0.39, 0.575, 0.565, 1);
    position: absolute;
    top: -16px;
    width: 1px;
    right: 5px
}

.header__dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.08);
    border-left: 1px solid rgba(0,0,0,0.05);
    border-radius: 3px;
    box-shadow: 3px 2px 7px 1px rgba(0,0,0,0.08);
    margin-left: -16px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 70px;
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    transform-origin: 95% top;
    -webkit-transform-origin: 95% top;
    z-index: 10;
    background: #fff;
    right: 0
}

    .header__dropdown.active {
        max-height: inherit;
        opacity: 1;
        overflow: visible;
        transform: scale(1);
        -webkit-transform: scale(1);
        transition: all .15s ease;
        -ms-transition: all .15s ease;
        -webkit-transition: all .15s ease
    }

.header__dropdown--header {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #222;
    padding: 0px 16px 8px
}

.header__dropdown--link {
    display: block;
    padding: 9px 16px;
    display: block;
    color: #565656;
    font-size: 14px;
    position: relative;
    text-transform: capitalize
}

    .header__dropdown--link:hover {
        color: #0bf;
        padding-left: 22px
    }

    .header__dropdown--link i {
        font-size: 11px;
        margin-right: 8px
    }

        .header__dropdown--link i.cardicon {
            font-size: 17px;
            margin-top: -2px;
            display: inline-block;
            vertical-align: middle
        }

        .header__dropdown--link i.logouticon {
            font-size: 14px;
            margin-top: -3px;
            display: inline-block;
            font-weight: 600;
            vertical-align: middle
        }

.subnav__submenu.header__dropdown {
    width: 220px;
    right: auto;
    left: 0;
    margin: 0;
    top: 56px;
    transform-origin: 10% top;
    -webkit-transform-origin: 10% top
}

    .subnav__submenu.header__dropdown:after {
        right: auto;
        left: 27px
    }

.hoverdropdownlik {
    position: relative;
    cursor: pointer
}

    .hoverdropdownlik:hover .subnav__link {
        border: 1px solid #0bf;
        color: #0bf
    }

    .hoverdropdownlik:hover .hoverdropdown {
        max-height: inherit;
        opacity: 1;
        padding: 10px;
        overflow: visible;
        transform: scale(1);
        -webkit-transform: scale(1);
        transition: all .15s ease;
        -ms-transition: all .15s ease;
        -webkit-transition: all .15s ease
    }

footer {
    background: #2d2d2d none repeat scroll 0 0;
    padding: 0;
    text-align: center
}

.toplink {
    border-bottom: 1px solid #3f3f3f;
    padding: 25px 0
}

.toplink__item {
    display: inline-block;
    color: #999;
    font-size: 14px;
    text-transform: capitalize;
    margin: 0 10px
}

    .toplink__item:hover {
        text-decoration: underline;
        color: #fff
    }

.midfooter {
    display: flex;
    padding-top: 25px
}

.midfooter__box {
    flex: 1;
    padding-right: 30px;
    text-align: left
}

.midfooter__hd {
    color: #ddd;
    display: block;
    font-weight: 600;
    margin-bottom: 16px;
    text-transform: capitalize
}

.midfooterlink {
    color: #999;
    display: block;
    font-size: 14px;
    position: relative;
    margin-bottom: 15px
}

    .midfooterlink:hover {
        color: #fff;
        text-decoration: underline
    }

.bottomfooter {
    border-top: 1px solid #3f3f3f;
    margin-top: 20px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center
}

.copyright {
    font-size: 13px;
    color: #999
}

.socialicons {
    display: flex;
    justify-content: center
}

.socialicons__llink {
    align-items: center;
    border: 1px solid #999;
    border-radius: 100%;
    color: #999;
    display: flex;
    font-size: 26px;
    height: 40px;
    justify-content: center;
    margin: 0 6px;
    width: 40px;
    overflow: hidden
}

@font-face {
    font-family: 'PTSans-Bold';
    src: url("../fonts/PTSans-Bold.eot");
    src: url("../PTSans-Bold.eot") format("embedded-opentype"),url("../fonts/PTSans-Bold.woff2") format("woff2"),url("../fonts/PTSans-Bold.woff") format("woff"),url("../fonts/PTSans-Bold.ttf") format("truetype"),url("../fonts/PTSans-Bold.svg") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'PTSans-Regular';
    src: url("../fonts/PTSans-Regular.eot");
    src: url("../PTSans-Regular.eot") format("embedded-opentype"),url("../fonts/PTSans-Regular.woff2") format("woff2"),url("../fonts/PTSans-Regular.woff") format("woff"),url("../fonts/PTSans-Regular.ttf") format("truetype"),url("../fonts/PTSans-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'PTSans-NarrowBold';
    src: url("../fonts/PTSans-NarrowBold.eot");
    src: url("../PTSans-NarrowBold.eot") format("embedded-opentype"),url("../fonts/PTSans-NarrowBold.woff2") format("woff2"),url("../fonts/PTSans-NarrowBold.woff") format("woff"),url("../fonts/PTSans-NarrowBold.ttf") format("truetype"),url("../fonts/PTSans-NarrowBold.svg") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'PTSans-Narrow';
    src: url("../fonts/PTSans-Narrow.eot");
    src: url("../PTSans-Narrow.eot") format("embedded-opentype"),url("../fonts/PTSans-Narrow.woff2") format("woff2"),url("../fonts/PTSans-Narrow.woff") format("woff"),url("../fonts/PTSans-Narrow.ttf") format("truetype"),url("../fonts/PTSans-Narrow.svg") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'PTSans-Caption';
    src: url("../fonts/PTSans-Caption.eot");
    src: url("../PTSans-Caption.eot") format("embedded-opentype"),url("../fonts/PTSans-Caption.woff2") format("woff2"),url("../fonts/PTSans-Caption.woff") format("woff"),url("../fonts/PTSans-Caption.ttf") format("truetype"),url("../fonts/PTSans-Caption.svg") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'PTSans-CaptionBold';
    src: url("../fonts/PTSans-CaptionBold.eot");
    src: url("../PTSans-CaptionBold.eot") format("embedded-opentype"),url("../fonts/PTSans-CaptionBold.woff2") format("woff2"),url("../fonts/PTSans-CaptionBold.woff") format("woff"),url("../fonts/PTSans-CaptionBold.ttf") format("truetype"),url("../fonts/PTSans-CaptionBold.svg") format("svg");
    font-weight: normal;
    font-style: normal
}

.maincon {
    min-height: 1000px;
    padding-top: 60px
}

.bannerbox {
    height: 280px;
    position: relative
}

.bannerbox__image {
    background: url(../img/bannar1.jpg) no-repeat center bottom
}

.parallax-background {
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}

.bannerbox__image::after {
    background: rgba(13,145,193,0.96);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.bannerbox__search--textfield:focus {
    background: rgba(0,0,0,0.5)
}

.items-center, .mid, .header__right ul {
    align-items: center;
    display: flex
}

.bannerbox__textarea {
    position: relative;
    z-index: 5;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 280px
}

.bannerbox__heading {
    font-size: 30px;
    color: rgba(255,255,255,0.91);
    font-weight: 800
}

.bannerbox__subheading {
    font-size: 22px;
    font-weight: 400;
    color: rgba(255,255,255,0.91);
    margin: 15px auto
}

.bannerbox__search {
    width: 450px;
    width: 100%;
    position: relative
}

.bannerbox__search--textfield {
    width: 100%;
    background: transparent;
    border: 0;
    color: #f9efef;
    height: 34px;
    border-radius: 5px;
    font-weight: 300;
    border: 1px solid #757575;
    font-size: 15px;
    padding: 0 80px 0 20px
}

    .bannerbox__search--textfield::placeholder {
        color: #fff
    }

.bannerbox__search--button {
    color: #fff;
    position: absolute;
    right: 16px;
    top: 9px;
    margin: auto;
    font-size: 16px;
    cursor: pointer
}

section.bannerbox.soultionbannerbox {
    height: 200px
}

    section.bannerbox.soultionbannerbox .bannerbox__textarea {
        height: 200px
    }

        section.bannerbox.soultionbannerbox .bannerbox__textarea .bannerbox__search {
            margin: 0 0 34px 0
        }

.solutiontabs {
    align-items: center;
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #eee;
    display: flex;
    justify-content: center;
    margin: 0 0 20px;
    text-align: center;
    overflow: hidden
}

.solutiontab__link {
    border-left: 1px solid #eee;
    color: #2d2d2d;
    flex: 1 1 0;
    font-size: 15px;
    height: 36px;
    margin: 0;
    padding: 10px 0;
    text-transform: lowercase
}

    .solutiontab__link::first-child {
        border: 0
    }

.heading-row {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: space-between
}

.questiontype {
    color: #2d2d2d;
    font-size: 26px;
    font-weight: 600;
    text-transform: capitalize
}

.askquestion {
    border: 1px solid #00bbff;
    border-radius: 25px;
    color: #00bbff;
    padding: 8px 20px;
    text-transform: capitalize;
    display: block;
    width: 150px
}

    .askquestion:hover {
        background: #00bbff none repeat scroll 0 0;
        color: #fff
    }

.solutiontab__link.active, .solutiontab__link:hover {
    background: #00bbff none repeat scroll 0 0;
    color: #ffffff
}

.totalquestion {
    background: #bb0505 none repeat scroll 0 0;
    border-radius: 25px;
    color: #fff;
    font-size: 15px;
    height: 25px;
    margin-right: 9px;
    padding: 9px 25px
}

.solutiondetail {
    display: flex
}

.solution__right {
    min-height: 600px;
    width: 300px;
    padding-top: 50px
}

.solution__left {
    flex: 1;
    margin-right: 24px;
    padding-bottom: 40px
}

.questionrow {
    border: 1px solid #eee;
    padding: 15px 20px;
    margin-bottom: 20px
}

.questionrow__title {
    color: #2d2d2d;
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    padding-left: 24px;
    position: relative
}

    .questionrow__title:hover {
        color: #00bbff
    }

.tag__item {
    border-radius: 3px;
    color: #cccccc;
    display: inline-block;
    font-size: 12px;
    height: 24px;
    margin-bottom: 8px;
    margin-right: 5px;
    padding: 6px 10px;
    background: #2d2d2d
}

.questionrow__text {
    color: #bbb;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 15px
}

.questionrow__title::after {
    content: "";
    font-family: "df";
    font-size: 19px;
    left: -2px;
    position: absolute;
    top: 2px
}

.solutionsearchbox {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.bannerbox__search.solutionsrchbox {
    margin: 0;
    max-width: 400px
}

    .bannerbox__search.solutionsrchbox .bannerbox__search--textfield {
        background: transparent none repeat scroll 0 0;
        border: 1px solid #ded7d7;
        color: #222;
        height: 40px
    }

        .bannerbox__search.solutionsrchbox .bannerbox__search--textfield::placeholder {
            color: #666;
            font-weight: 300
        }

    .bannerbox__search.solutionsrchbox .bannerbox__search--button {
        color: #999;
        font-size: 20px;
        top: 11px
    }

.subnav.solution-subnav {
    box-shadow: 0 0 3px #b2b2b2
}

.tabbadges {
    border-radius: 3px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 0;
    right: 23%;
    text-align: center;
    top: 0;
    background: #bb0505;
    width: 30px;
    display: inline-block;
    margin-left: 5px
}

.authorinfo {
    background: #eee;
    background: -moz-linear-gradient(top, #eee 1%, #f6f6f6 50%, #eee 100%);
    background: -webkit-linear-gradient(top, #eee 1%, #f6f6f6 50%, #eee 100%);
    background: linear-gradient(to bottom, #eee 1%, #f6f6f6 50%, #eee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee', GradientType=0);
    border-top: 1px solid #eee;
    margin: 20px -20px -16px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 34px;
    align-items: center
}

.questionInfo {
    display: flex;
    font-size: 13px
}

    .questionInfo > div {
        cursor: pointer;
        color: #999
    }

.answer {
    margin: 0 16px
}

.questionInfo__badges {
    font-weight: 600;
    color: #000
}

.userInfo {
    color: #999;
    font-size: 13px;
    height: 34px;
    padding: 10px 0
}

    .userInfo > span {
        color: #0bf;
        font-weight: 600;
        cursor: pointer
    }

label.userinfo__score {
    color: #bb0505;
    font-weight: 600;
    margin-left: 6px;
    font-size: 12px
}

.addbox {
    background: #2d2d2d;
    border: 0;
    padding: 10px
}

.favtag, .hotnetwork {
    margin-top: 30px
}

.favtag__title {
    color: #fff;
    font-size: 18px;
    margin-bottom: 14px;
    padding-bottom: 0
}

.edittag {
    font-size: 13px;
    text-decoration: underline;
    float: right;
    cursor: pointer
}

.hotnetwork__link {
    color: #bbb;
    display: block;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 20px;
    padding-left: 24px;
    position: relative
}

    .hotnetwork__link::after {
        content: "";
        font-family: "df";
        font-size: 12px;
        left: 0;
        position: absolute;
        top: 0
    }

    .hotnetwork__link:hover {
        color: #fff
    }

.viewallquestion {
    background: #0bf none repeat scroll 0 0;
    border-radius: 25px;
    color: #fff;
    display: block;
    margin: 0 auto 30px;
    max-width: 200px;
    text-align: center;
    font-size: 15px;
    padding: 10px 0;
    cursor: pointer
}

.userdetails {
    background: #2d2d2d none repeat scroll 0 0;
    padding: 0px;
    position: absolute;
    right: 0;
    top: 100%;
    width: 0px;
    z-index: 30;
    display: flex;
    height: 0px;
    overflow: hidden
}

.userInfo:hover .userdetails {
    height: 80px;
    width: 300px;
    padding: 10px
}

.userimage {
    width: 60px
}

.usertext {
    margin-left: 15px
}

.username {
    color: #0bf;
    font-weight: 600;
    margin-right: 30px;
    display: block;
    margin-bottom: 7px;
    cursor: pointer
}

.scorebox {
    color: #ddd
}

.badgesbox {
    color: #ddd;
    font-weight: 600;
    font-size: 13px;
    margin-top: 13px
}

    .badgesbox span {
        margin-right: 15px;
        cursor: pointer
    }

        .badgesbox span i {
            font-size: 12px;
            margin-right: 5px
        }

.gold {
    color: gold
}

.silver {
    color: silver
}

.bronze {
    color: #f1decc
}

.button-default {
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    background: #2d2d2d;
    font-size: 15px;
    font-weight: 300;
    padding: 12px 50px;
    cursor: pointer;
    width: 100%;
    max-width: 350px
}

    .button-default:hover {
        background: #000
    }

.heading-row.heading-row--details {
    height: auto;
    align-items: start;
    padding: 30px 0
}

    .heading-row.heading-row--details .questiontype {
        font-size: 21px;
        font-weight: 400;
        line-height: 34px
    }

.banneradd {
    margin-bottom: 20px
}

    .banneradd img {
        width: 100%
    }

.answerdetail p {
    color: #777;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 19px
}

.codeeditor {
    background: #eff0f1 none repeat scroll 0 0;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px
}

.questiondetails {
    border-top: 1px solid #ccc;
    margin-top: 30px;
    padding-top: 20px
}

.questiondetails__hd {
    font-size: 20px
}

.queRow {
    align-items: center;
    display: flex;
    justify-content: space-between
}

.questionInformation {
    display: flex;
    font-size: 14px;
    color: #999
}

.basicinfo {
    margin-right: 40px
}

    .basicinfo > div {
        margin: 10px 0
    }

    .basicinfo span {
        font-weight: 600;
        margin-left: 17px;
        float: right;
        color: #00bbff
    }

.secondinfo > div {
    color: #999;
    margin: 9px 0;
    cursor: pointer
}

.favouratebox i {
    color: gold;
    margin-right: 5px
}

.useunusebox {
    display: flex;
    align-items: center
}

.countingusefull {
    color: #00bbff;
    font-weight: 600;
    margin: 0 13px
}

.usefull i {
    margin-right: 4px
}

.usefull {
    cursor: pointer;
    color: #999
}

.unusefull {
    cursor: pointer
}

    .unusefull i {
        margin-left: 5px
    }

.secondinfo > div {
    color: #999;
    cursor: pointer;
    margin: 9px 0
}

.questionautor {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px
}

    .questionautor .userdetails.transition, .questionautor .userdetails.form-field--border, .questionautor .userdetails.checkbox-label:before {
        height: 81px;
        opacity: 1;
        width: 300px;
        position: relative;
        padding: 10px;
        font-size: 13px;
        margin-top: 10px
    }

    .questionautor .questionautor {
        display: flex;
        margin-top: 30px;
        flex-wrap: wrap
    }

    .questionautor .questionautor-box {
        margin-bottom: 20px;
        margin-right: 20px
    }

.addcomment__textarea {
    font-family: lato;
    height: 100px;
    padding: 15px;
    resize: none;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 20px
}

.addcommentbtn {
    text-align: right
}

.answerHd {
    align-items: start;
    display: flex;
    font-size: 20px
}

.sortelement {
    border: 1px solid #ccc;
    color: #282828;
    display: block;
    font-size: 14px;
    margin-bottom: -1px;
    margin-left: 6px;
    padding: 10px 15px
}

.ansersort {
    display: flex
}

.answerdiv {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-top: 40px;
    padding-top: 30px
}

.sortelement.active {
    background: #00bbff;
    color: #fff;
    border-color: #00bbff
}

.answercount {
    background: #bb0505;
    display: block;
    color: #fff;
    font-size: 15px;
    padding: 3px 10px;
    margin-right: 10px;
    border-radius: 3px
}

.commentusername {
    color: #999;
    font-size: 13px
}

.commentrow p {
    font-size: 15px;
    margin-bottom: 5px
}

.commentrow {
    border-top: 1px solid #ddd;
    padding: 20px 0
}

.commentusername a {
    color: #00bbff
}

    .commentusername a:hover {
        text-decoration: underline
    }

.addanswer {
    font-size: 20px;
    margin-bottom: 10px
}

.editor {
    margin-bottom: 20px
}

    .editor img {
        width: 100%
    }

.detailscon {
    padding-top: 30px;
    padding-bottom: 10px
}

.categorydiv {
    margin-top: 25px
}

.catitem {
    color: #bbbbbb;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 14px;
    width: 44%
}

    .catitem span {
        color: #bbb;
        font-weight: 600
    }

    .catitem:hover {
        text-decoration: underline
    }

.mostpopulatplugin {
    margin: 30px auto;
    text-align: center
}

.mainheading {
    font-size: 22px;
    font-weight: 600;
    color: rgba(255,255,255,0.68);
    margin-bottom: 28px
}

.conatinerBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.containerItem {
    margin-bottom: 26px;
    padding: 10px;
    width: 31%;
    background: #2d2d2d;
    position: relative;
    justify-content: space-between
}

.itemdetail {
    align-items: center;
    display: flex;
    margin-top: 15px;
    justify-content: space-between
}

.thumblink__title {
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 6px
}

    .thumblink__title:hover {
        color: #fff;
        text-decoration: underline
    }

.thumblink__text {
    font-size: 14px;
    color: #ccc
}

.costtheme {
    margin-left: 15px
}

.themetype i {
    display: none;
    font-size: 14px
}

.themetype {
    display: inline-block;
    font-size: 10px;
    font-weight: 400;
    padding: 4px 12px;
    text-transform: uppercase;
    vertical-align: middle;
    color: #fff !important;
    position: absolute;
    right: 10px;
    top: 10px
}

.new {
    background: green;
    color: green;
    border: 1px solid green
}

.trending {
    background: #bb0505;
    color: #bb0505;
    border: 1px solid #bb0505
}

.costtheme {
    color: #ffd400;
    font-weight: 600
}

.buttongroup {
    margin-bottom: 50px;
    text-align: center
}

.detailItem {
    display: flex
}

.detailItems {
    margin-right: 20px;
    width: 300px
}

.sharebutton {
    margin-bottom: 15px
}

    .sharebutton .card--signup__social--item {
        border-radius: 25px;
        height: 40px;
        width: 26%;
        margin: 0 10px
    }

.downloadbtn {
    display: flex;
    justify-content: center;
    align-items: center
}

    .downloadbtn a {
        margin: 0 10px;
        padding: 12px 0;
        text-align: center;
        width: 90px
    }

.detailImage {
    border: 1px solid #282828
}

.sharebutton {
    display: block;
    margin-bottom: 4px
}

.downloadbtn {
    margin-bottom: 4px
}

.addleft {
    width: 300px;
    border: 1px solid #000
}

.detailImage img {
    width: 100%;
    height: 250px
}

.addleft > img {
    width: 100%;
    height: 250px
}

.fileType {
    margin-left: 20px;
    padding-top: 40px;
    font-size: 14px
}

    .fileType p {
        margin-bottom: 25px
    }

        .fileType p span {
            font-weight: bold
        }

.themedesc {
    line-height: 25px;
    margin-top: 30px
}

.banneradd {
    margin: 30px auto
}

.downloadcontent {
    margin: 20px auto;
    line-height: 22px
}

.midadd {
    border: 1px solid #000;
    width: 300px;
    margin: auto
}

.downloadlink {
    background: #2d2d2d none repeat scroll 0 0;
    border: 1px solid #5d5d5d;
    max-width: 100%;
    padding: 30px;
    margin: 40px auto
}

    .downloadlink a {
        display: block;
        color: #b1afaf;
        font-size: 14px;
        margin-bottom: 18px;
        text-decoration: underline
    }
